<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="PublicAssemblies;PrivateAssemblies;CommonExtensions\Microsoft\TestWindow;"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Keys to get a control. -->
    <!-- Show "Currently Recording" caption on windows under recording. -->
    <add key="ShowCurrentlyRecording" value="false" />

    <!-- <add key="FetchModifierKey" value="Control"/>
    <add key="FetchKey" value="I"/>-->

    <!-- Keys to get and add the control to UIMap -->
    <!-- <add key="AddToMapModifierKey" value="Control, Shift"/>
   <add key="AddToMapKey" value="I"/>-->

    <!-- HoverKey to use. -->
    <add key="HoverKeyModifier" value="Control, Shift"/>
    <add key="HoverKey" value="R"/>

    <!--Use this to enable/disable recording of implicithovers.-->
    <add key="RecordImplicitHover" value="true"/>

    <!-- Use this to enable/disable thinktime -->
    <add key="RecordThinkTime" value="false" />

    <!-- Use this to set the timeout for aggregator in milliseconds. -->
    <add key="AggregatorTimeout" value="10000"/>

    <!-- Think time threshold in milliseconds. 
             Think time is not recorded if the time-gap between actions are less than this. -->
    <add key="ThinkTimeThreshold" value="10000"/>

    <!-- Think time uppser cut-off in milliseconds. 
             This represents the maximum think time value. -->
    <add key="ThinkTimeUpperCutoff" value="120000" />

    <!-- Use this to set the maximum level of search hierarchy for WPF and Windows Runtime Xaml controls having nested Item containers,
            when authoring or recording Coded UI tests. -->
    <add key="MaxLevelsForItemContainer" value="15"/>

    <!-- Log folder. Trace logs are placed in this folder. -->
    <add key="UITestTraceFolder" value="%TEMP%\UITestLogs"/>

    <!-- Global hot Keys, all keys with "Windows" as modifier will be treated as hot keys by default -->
    <add key="GlobalHotKeys" value="Control, Escape;
                    Alt, Tab;
                    Alt, Shift, Tab;"/>

    <!-- Use this to provide a comma separated list of languages (LCIDs) for which IME is enabled 
             and the IME ends composition on pressing the {Enter} key.
             The following four languages for which such Microsoft IMEs exist are included by default.

             Chinese (People's Republic of China) - 2052
             Chinese (Taiwan) - 1028
             Japanese - 1041
             Yi - 1144
         -->
    <add key="IMELanguages" value="2052, 1028, 1041, 1144" />

    <!-- Exclude Processes, to include PID include them the same way as the process names -->
    <!--
        <add key="ExcludeProcess" value="
                    %ProgramFiles%\Microsoft Office\Office12\WINWORD.EXE
                    %ProgramFiles%\Microsoft Office\Office12\EXCEL.EXE
                    %ProgramFiles%\Microsoft Office\Office12\Outlook.EXE
                    %ProgramFiles%\Microsoft Visual Studio 9.0\Common7\IDE\devenv.exe
                    %_NTDRIVE%%_NTROOT%\tools\x86\managed\v2.0\VSMSBuild.exe
                    "/>
        -->
    <!-- Exclude remote desktop connection process -->
    <add key="ExcludeProcess" value="%SystemRoot%\system32\mstsc.exe"/>

    <!-- Include Processes, to include PID include them the same way as the process names -->
    <!-- 
        <add key="IncludeProcess" value="
                    %SystemRoot%\system32\calc.exe
                    "/>
        -->
    <!-- If IncludeProcess is set then setting RecordOnDesktopProcess will make recorder to record on all the
         processes which are added in IncludeProcess and also desktop.
        <add key="RecordOnDesktopProcess" value="true"/>
        -->
  </appSettings>

  <system.diagnostics>
    <!-- Change the value of EqtTraceLevel to change the level of tracing you want.
            You must use integral values for "value".  
            0 ==> off,
            1 ==> error,
            2 ==> warn, 
            3 ==> info,
            4 ==> verbose.
            Note that each value is inclusive of the last.
        -->
    <switches>
      <add name="EqtTraceLevel" value="0" />
    </switches>
  </system.diagnostics>
</configuration>

